body{
    background-image: url("9Knam.jpeg");
    background-size: cover;
    color:rgb(128, 162, 131);
}
.Nugget:active{
    background:rgb(193, 12, 12);
}
.Nugget{
    background: linear-gradient(360deg,rgb(226, 111, 4) 20%,rgb(175, 67, 16) 100%);
    color: white;
    border: 10px;
    border-style: double;
    border-radius: 100px;
    border-color: rgb(0, 0, 0);
}
.NuggetHealth{
    background: rgb(109, 135, 99);
    color: rgb(230, 21, 21);
    border: 15px;
    border-style: dashed;
    border-radius: 10px;
    border-color: rgb(224, 42, 42);
}
.NuggetHealth:active{
    background-color: greenyellow;
}
.Death{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: white;
    border: 0;
    padding: 0;
    margin: 0;
}.RestartButton {
    color: crimson;
    background: black;
    border: 10px;
    border-color: rgb(50, 0, 0);
    border-radius: 20;
    border-style: ridge;

}
.RestartButton:active {
    background: goldenrod;
}